<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>0</integer>
	<key>AutoAdjust</key>
	<false/>
	<key>CanvasColor</key>
	<dict>
		<key>w</key>
		<string>1</string>
	</dict>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>CanvasScale</key>
	<real>0.94999998807907104</real>
	<key>ColumnAlign</key>
	<integer>1</integer>
	<key>ColumnSpacing</key>
	<real>36</real>
	<key>CreationDate</key>
	<string>2006-10-20 11:28:36 +0200</string>
	<key>Creator</key>
	<string>Stefan Eilemann</string>
	<key>DisplayScale</key>
	<string>1 cm = 1 cm</string>
	<key>GraphDocumentVersion</key>
	<integer>5</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>AllowConnections</key>
					<string>NO</string>
					<key>Bounds</key>
					<string>{{306.017, 289.662}, {240.945, 269.291}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>1178</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>CornerRadius</key>
							<real>4</real>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Pad</key>
						<integer>0</integer>
						<key>Text</key>
						<string>{\rtf1\mac\ansicpg10000\cocoartf824\cocoasubrtf420
{\fonttbl\f0\fnil\fcharset77 Georgia-Bold;\f1\fswiss\fcharset77 Helvetica;\f2\fswiss\fcharset77 Helvetica-Bold;
}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\sa80\qc\pardirnatural

\f0\b\fs24 \cf0 \expnd0\expndtw0\kerning0
Use Cases
\f1\b0\fs20 \expnd0\expndtw0\kerning0
\
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\sa80\qj\pardirnatural
\cf0 \expnd0\expndtw0\kerning0
\
The Equalizer framework abstracts the runtime configuration from the application code. This allows an application to be deployed in many different ways without any modification, for example: 
\f2\b \expnd0\expndtw0\kerning0
\
Display Walls
\f1\b0 \expnd0\expndtw0\kerning0
 are one of the common uses for visua-lization clusters today. Typically one instance of the application's rendering code is executed locally on a node for each display.
\f2\b \expnd0\expndtw0\kerning0
\
Virtual Reality Installations 
\f1\b0 \expnd0\expndtw0\kerning0
use passive or active stereo rendering with head tracking, both supported by Equalizer.
\f2\b \expnd0\expndtw0\kerning0
\
Scalable Rendering
\f1\b0 \expnd0\expndtw0\kerning0
 parallelizes the rendering of a single view across multiple graphic cards, processors and potentially computers to render more data faster.\

\f2\b \expnd0\expndtw0\kerning0
Multi-GPU Workstations
\f1\b0 \expnd0\expndtw0\kerning0
 are an affordable way to scale the rendering performance and display size. Equalizer applications can exploit multiple processors and graphic cards by running multiple rendering threads.}</string>
					</dict>
					<key>TextPlacement</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Class</key>
					<string>Group</string>
					<key>Graphics</key>
					<array>
						<dict>
							<key>AllowConnections</key>
							<string>NO</string>
							<key>Bounds</key>
							<string>{{589.482, 374.701}, {240.944, 14.1732}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>FontInfo</key>
							<dict>
								<key>Font</key>
								<string>Helvetica</string>
								<key>Size</key>
								<real>6</real>
							</dict>
							<key>ID</key>
							<integer>1180</integer>
							<key>Shape</key>
							<string>Rectangle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
							</dict>
							<key>Text</key>
							<dict>
								<key>Text</key>
								<string>{\rtf1\mac\ansicpg10000\cocoartf824\cocoasubrtf420
{\fonttbl\f0\fswiss\fcharset77 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\deftab720
\pard\pardeftab720\qc

\f0\fs12 \cf0 Scalable rendering using six graphic cards to render a single view. }</string>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{589.482, 218.795}, {240.944, 155.905}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>1181</integer>
							<key>ImageID</key>
							<integer>7</integer>
							<key>Scale</key>
							<real>0.18000000715255737</real>
							<key>Shape</key>
							<string>Rectangle</string>
							<key>Style</key>
							<dict>
								<key>stroke</key>
								<dict>
									<key>CornerRadius</key>
									<real>4</real>
								</dict>
							</dict>
						</dict>
					</array>
					<key>ID</key>
					<integer>1179</integer>
				</dict>
				<dict>
					<key>Class</key>
					<string>Group</string>
					<key>Graphics</key>
					<array>
						<dict>
							<key>AllowConnections</key>
							<string>NO</string>
							<key>Bounds</key>
							<string>{{22.5525, 573.125}, {240.945, 14.1732}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>FontInfo</key>
							<dict>
								<key>Font</key>
								<string>Helvetica</string>
								<key>Size</key>
								<real>6</real>
							</dict>
							<key>ID</key>
							<integer>1183</integer>
							<key>Shape</key>
							<string>Rectangle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
							</dict>
							<key>Text</key>
							<dict>
								<key>Text</key>
								<string>{\rtf1\mac\ansicpg10000\cocoartf824\cocoasubrtf420
{\fonttbl\f0\fswiss\fcharset77 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\deftab720
\pard\pardeftab720\qc

\f0\fs12 \cf0 A virtual reality installation using passive stereo and head tracking}</string>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{22.5525, 417.219}, {240.945, 155.906}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>1184</integer>
							<key>ImageID</key>
							<integer>3</integer>
							<key>ManualSizeImage</key>
							<string>YES</string>
							<key>Offset</key>
							<string>{-0, -0.08}</string>
							<key>Scale</key>
							<real>0.15000000596046448</real>
							<key>Shape</key>
							<string>Rectangle</string>
							<key>Style</key>
							<dict>
								<key>stroke</key>
								<dict>
									<key>CornerRadius</key>
									<real>4</real>
								</dict>
							</dict>
						</dict>
					</array>
					<key>ID</key>
					<integer>1182</integer>
				</dict>
				<dict>
					<key>AllowConnections</key>
					<string>NO</string>
					<key>Bounds</key>
					<string>{{36.7256, 176.276}, {226.772, 14.1732}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Font</key>
						<string>Helvetica</string>
						<key>Size</key>
						<real>6</real>
					</dict>
					<key>ID</key>
					<integer>1185</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Text</key>
						<string>{\rtf1\mac\ansicpg10000\cocoartf824\cocoasubrtf420
{\fonttbl\f0\fswiss\fcharset77 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\deftab720
\pard\pardeftab720\qc

\f0\fs12 \cf0 A display wall running an Equalizer-based terrain rendering application}</string>
					</dict>
				</dict>
				<dict>
					<key>AllowConnections</key>
					<string>NO</string>
					<key>Bounds</key>
					<string>{{306.017, 20.369}, {240.945, 255.118}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>HFlip</key>
					<string>YES</string>
					<key>ID</key>
					<integer>1186</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>CornerRadius</key>
							<real>4</real>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Pad</key>
						<integer>0</integer>
						<key>Text</key>
						<string>{\rtf1\mac\ansicpg10000\cocoartf824\cocoasubrtf420
{\fonttbl\f0\fnil\fcharset77 Georgia-Bold;\f1\fswiss\fcharset77 Helvetica;\f2\fswiss\fcharset77 Helvetica-Bold;
}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\sa80\qc\pardirnatural

\f0\b\fs24 \cf0 \expnd0\expndtw0\kerning0
Major Features
\f1\b0\fs20 \expnd0\expndtw0\kerning0
\
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\sa80\qj\pardirnatural
\cf0 \expnd0\expndtw0\kerning0
\

\f2\b \expnd0\expndtw0\kerning0
Runtime Configurability:
\f1\b0 \expnd0\expndtw0\kerning0
 An Equalizer application can run on any configuration, from laptops to large scale visualization clusters, without recompilation. The runtime configuration is externalized from the application to a systemwide resource server.\

\f2\b \expnd0\expndtw0\kerning0
Runtime Scalability:
\f1\b0 \expnd0\expndtw0\kerning0
 An Equalizer application can use multiple CPU's, GPU's and computers to scale the rendering performance of a single view.\

\f2\b \expnd0\expndtw0\kerning0
Distributed Execution:
\f1\b0 \expnd0\expndtw0\kerning0
 Equalizer applications can be written to support cluster-based execution. The task of distributing the application data is facilitated by support for versioned, distributed objects.\

\f2\b \expnd0\expndtw0\kerning0
Support for Immersive Environments:
\f1\b0 \expnd0\expndtw0\kerning0
 Equalizer supports both active and passive stereo rendering, as well as head tracking, which is required for immersive Virtual Reality installations.}</string>
					</dict>
					<key>TextPlacement</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{22.5525, 20.3685}, {240.945, 155.906}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>1187</integer>
					<key>ImageID</key>
					<integer>1</integer>
					<key>ManualSizeImage</key>
					<string>YES</string>
					<key>Scale</key>
					<real>0.12999999523162842</real>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>CornerRadius</key>
							<real>4</real>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>AllowConnections</key>
					<string>NO</string>
					<key>Bounds</key>
					<string>{{22.5523, 204.622}, {240.945, 212.598}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>HFlip</key>
					<string>YES</string>
					<key>ID</key>
					<integer>1188</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>CornerRadius</key>
							<real>4</real>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Pad</key>
						<integer>0</integer>
						<key>Text</key>
						<string>{\rtf1\mac\ansicpg10000\cocoartf824\cocoasubrtf420
{\fonttbl\f0\fnil\fcharset77 Georgia-Bold;\f1\fswiss\fcharset77 Helvetica;\f2\fswiss\fcharset77 Helvetica-Oblique;
\f3\fswiss\fcharset77 Helvetica-Bold;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\sa380\qc\pardirnatural

\f0\b\fs24 \cf0 \expnd0\expndtw0\kerning0
Parallel Programming Interface
\fs18 \expnd0\expndtw0\kerning0
\
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\sa80\qj\pardirnatural

\f1\b0\fs20 \cf0 \expnd0\expndtw0\kerning0
Equalizer uses a 
\f2\i \expnd0\expndtw0\kerning0
minimally invasive
\f1\i0 \expnd0\expndtw0\kerning0
 programming interface. Most of the application is unmodified, only the rendering is separated and plugged into the Equalizer API for parallelization. Common graphic entities are abstracted by C++ classes, for example:\
\pard\tx220\tx720\li720\fi-720\qj\pardirnatural

\f3\b \cf0 \expnd0\expndtw0\kerning0
 \'a5 Node
\f1\b0 \expnd0\expndtw0\kerning0
 - a single computer in the cluster\

\f3\b \expnd0\expndtw0\kerning0
 \'a5 Pipe
\f1\b0 \expnd0\expndtw0\kerning0
 - a graphics card and rendering thread\

\f3\b \expnd0\expndtw0\kerning0
 \'a5 Window
\f1\b0 \expnd0\expndtw0\kerning0
 - an OpenGL drawable\
\pard\tx220\tx720\li720\fi-720\sa80\qj\pardirnatural

\f3\b \cf0 \expnd0\expndtw0\kerning0
 \'a5 Channel
\f1\b0 \expnd0\expndtw0\kerning0
 - a viewport within a window\
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\sa80\qj\pardirnatural
\cf0 \expnd0\expndtw0\kerning0
The developer amends these entities by implementing application-specific 
\f2\i \expnd0\expndtw0\kerning0
task methods
\f1\i0 \expnd0\expndtw0\kerning0
. Equalizer facilitates application porting by providing a default implemen-tation for each task, which implements the typical use case.}</string>
					</dict>
					<key>TextPlacement</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AllowConnections</key>
					<string>NO</string>
					<key>Bounds</key>
					<string>{{589.481, 403.046}, {240.945, 170.079}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>HFlip</key>
					<string>YES</string>
					<key>ID</key>
					<integer>1189</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>CornerRadius</key>
							<real>4</real>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Pad</key>
						<integer>0</integer>
						<key>Text</key>
						<string>{\rtf1\mac\ansicpg10000\cocoartf824\cocoasubrtf420
{\fonttbl\f0\fnil\fcharset77 Georgia-Bold;\f1\fswiss\fcharset77 Helvetica-Bold;\f2\fswiss\fcharset77 Helvetica;
}
{\colortbl;\red255\green255\blue255;}
\deftab720
\pard\pardeftab720\sa360\qc

\f0\b\fs24 \cf0 Compatibility\
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardeftab720\sa40\qj\pardirnatural

\f1\fs20 \cf0 \expnd0\expndtw0\kerning0
OS Support: 
\f2\b0 Linux, Windows XP and Mac OS X\

\f1\b Interconnects: 
\f2\b0 Ethernet, InfiniBand\

\f1\b Portable:
\f2\b0  32 and 64 bit, little- and big-endian\
\

\f1\b Minimally invasive:
\f2\b0  easy porting\

\f1\b Clusters
\f2\b0  and 
\f1\b Multi-GPU
\f2\b0  workstations\
\

\f1\b LGPL license:
\f2\b0  commercial and open source use\

\f1\b Open standard
\f2\b0  for parallel rendering\
}</string>
					</dict>
					<key>TextPlacement</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AllowConnections</key>
					<string>NO</string>
					<key>Bounds</key>
					<string>{{589.481, 20.3691}, {240.945, 198.425}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>HFlip</key>
					<string>YES</string>
					<key>ID</key>
					<integer>1190</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>CornerRadius</key>
							<real>4</real>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Pad</key>
						<integer>0</integer>
						<key>Text</key>
						<string>{\rtf1\mac\ansicpg10000\cocoartf824\cocoasubrtf420
{\fonttbl\f0\fnil\fcharset77 Georgia-Bold;\f1\fswiss\fcharset77 Helvetica-Bold;\f2\fswiss\fcharset77 Helvetica;
}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\sa380\qc\pardirnatural

\f0\b\fs24 \cf0 \expnd0\expndtw0\kerning0
Major Benefits\
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\sa80\qj\pardirnatural

\f1\fs20 \cf0 \expnd0\expndtw0\kerning0
Parallel Rendering Know-How:
\f2\b0 \expnd0\expndtw0\kerning0
 Equalizer contains 10+ years of experience in parallel and scalable rendering, easily combined with your application.\

\f1\b \expnd0\expndtw0\kerning0
Fast Path for Scalable OpenGL Applications:
\f2\b0 \expnd0\expndtw0\kerning0
 Equalizer provides the natural parallel execution model to exploit the parallelism of multi-core, multi-GPU workstations and graphic clusters.\

\f1\b \expnd0\expndtw0\kerning0
Feature-Rich Framework:
\f2\b0 \expnd0\expndtw0\kerning0
 Equalizer contains state-of-the-art scalable rendering algorithms, and its open development model ensures constant improvement. The configurability allows to deploy Equalizer applications in many, often unforeseen environments.}</string>
					</dict>
					<key>TextPlacement</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AllowConnections</key>
					<string>NO</string>
					<key>Bounds</key>
					<string>{{8.37907, 6.1958}, {269.291, 581.102}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>1191</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.995361</string>
								<key>g</key>
								<string>0.961273</string>
								<key>r</key>
								<string>0.913634</string>
							</dict>
							<key>FillType</key>
							<integer>2</integer>
							<key>GradientAngle</key>
							<real>90</real>
							<key>GradientCenter</key>
							<string>{0, -0.495238}</string>
							<key>GradientColor</key>
							<dict>
								<key>b</key>
								<string>0.747814</string>
								<key>g</key>
								<string>0.608148</string>
								<key>r</key>
								<string>0.378088</string>
							</dict>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>1</string>
								<key>g</key>
								<string>1</string>
								<key>r</key>
								<string>1</string>
							</dict>
							<key>CornerRadius</key>
							<real>8</real>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>AllowConnections</key>
					<string>NO</string>
					<key>Bounds</key>
					<string>{{575.308, 6.1958}, {269.291, 581.102}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>1192</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.995361</string>
								<key>g</key>
								<string>0.961273</string>
								<key>r</key>
								<string>0.913634</string>
							</dict>
							<key>FillType</key>
							<integer>2</integer>
							<key>GradientAngle</key>
							<real>90</real>
							<key>GradientCenter</key>
							<string>{0, -0.495238}</string>
							<key>GradientColor</key>
							<dict>
								<key>b</key>
								<string>0.747814</string>
								<key>g</key>
								<string>0.608148</string>
								<key>r</key>
								<string>0.378088</string>
							</dict>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>1</string>
								<key>g</key>
								<string>1</string>
								<key>r</key>
								<string>1</string>
							</dict>
							<key>CornerRadius</key>
							<real>8</real>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>AllowConnections</key>
					<string>NO</string>
					<key>Bounds</key>
					<string>{{291.844, 6.1958}, {269.291, 581.102}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>1193</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.995361</string>
								<key>g</key>
								<string>0.961273</string>
								<key>r</key>
								<string>0.913634</string>
							</dict>
							<key>FillType</key>
							<integer>2</integer>
							<key>GradientAngle</key>
							<real>90</real>
							<key>GradientCenter</key>
							<string>{0, -0.495238}</string>
							<key>GradientColor</key>
							<dict>
								<key>b</key>
								<string>0.747814</string>
								<key>g</key>
								<string>0.608148</string>
								<key>r</key>
								<string>0.378088</string>
							</dict>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>1</string>
								<key>g</key>
								<string>1</string>
								<key>r</key>
								<string>1</string>
							</dict>
							<key>CornerRadius</key>
							<real>8</real>
						</dict>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>1177</integer>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict>
		<key>GridSpacing</key>
		<real>14.17322826385498</real>
		<key>MajorGridSpacing</key>
		<integer>10</integer>
		<key>ShowsGrid</key>
		<string>YES</string>
	</dict>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>HPages</key>
	<integer>1</integer>
	<key>HorizontalGuides</key>
	<array>
		<real>297.32504272460938</real>
	</array>
	<key>ImageCounter</key>
	<integer>10</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict/>
		<dict/>
		<dict/>
	</array>
	<key>ImageList</key>
	<array>
		<string>image7.png</string>
		<string>image3.png</string>
		<string>image1.JPG</string>
	</array>
	<key>IsPalette</key>
	<string>NO</string>
	<key>KeepToScale</key>
	<false/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Layer 1</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict/>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheet</key>
	<string>Master 1</string>
	<key>MasterSheets</key>
	<array>
		<dict>
			<key>ActiveLayerIndex</key>
			<integer>0</integer>
			<key>AutoAdjust</key>
			<true/>
			<key>CanvasColor</key>
			<dict>
				<key>w</key>
				<string>1</string>
			</dict>
			<key>CanvasOrigin</key>
			<string>{0, 0}</string>
			<key>CanvasScale</key>
			<real>1</real>
			<key>ColumnAlign</key>
			<integer>1</integer>
			<key>ColumnSpacing</key>
			<real>36</real>
			<key>DisplayScale</key>
			<string>1 cm = 1 cm</string>
			<key>GraphicsList</key>
			<array/>
			<key>GridInfo</key>
			<dict>
				<key>GridSpacing</key>
				<real>14.17322826385498</real>
				<key>MajorGridSpacing</key>
				<integer>10</integer>
				<key>ShowsGrid</key>
				<string>YES</string>
				<key>SnapsToGrid</key>
				<string>YES</string>
			</dict>
			<key>HPages</key>
			<integer>1</integer>
			<key>IsPalette</key>
			<string>NO</string>
			<key>KeepToScale</key>
			<false/>
			<key>Layers</key>
			<array>
				<dict>
					<key>Lock</key>
					<string>NO</string>
					<key>Name</key>
					<string>Layer 1</string>
					<key>Print</key>
					<string>YES</string>
					<key>View</key>
					<string>YES</string>
				</dict>
			</array>
			<key>LayoutInfo</key>
			<dict/>
			<key>Orientation</key>
			<integer>2</integer>
			<key>OutlineStyle</key>
			<string>Basic</string>
			<key>RowAlign</key>
			<integer>1</integer>
			<key>RowSpacing</key>
			<real>36</real>
			<key>SheetTitle</key>
			<string>Master 1</string>
			<key>UniqueID</key>
			<integer>1</integer>
			<key>VPages</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>ModificationDate</key>
	<string>2007-06-26 16:19:02 +0200</string>
	<key>Modifier</key>
	<string>Stefan Eilemann</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>1</integer>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>OutlineStyle</key>
	<string>Basic</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>15.5906</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>15.5906</string>
		</array>
		<key>NSOrientation</key>
		<array>
			<string>int</string>
			<string>1</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>size</string>
			<string>{842, 595}</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>15.5906</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>15.5906</string>
		</array>
	</dict>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>1</integer>
	<key>RowSpacing</key>
	<real>36</real>
	<key>SheetTitle</key>
	<string>Canvas 1</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>YES</string>
	<key>SmartDistanceGuidesActive</key>
	<string>NO</string>
	<key>UniqueID</key>
	<integer>1</integer>
	<key>UseEntirePage</key>
	<false/>
	<key>VPages</key>
	<integer>1</integer>
	<key>VerticalGuides</key>
	<array>
		<real>426.48934936523438</real>
	</array>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>DrawerTab</key>
		<string>Outline</string>
		<key>DrawerWidth</key>
		<real>209</real>
		<key>Frame</key>
		<string>{{279, 48}, {984, 790}}</string>
		<key>VisibleRegion</key>
		<string>{{-15, -19}, {884.979, 632.65}}</string>
		<key>Zoom</key>
		<real>1.1513806581497192</real>
	</dict>
</dict>
</plist>
