<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>0</integer>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGrafflePro</string>
		<string>129.18</string>
	</array>
	<key>AutoAdjust</key>
	<true/>
	<key>CanvasColor</key>
	<dict>
		<key>w</key>
		<string>1</string>
	</dict>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>CanvasScale</key>
	<real>2.0542445182800293</real>
	<key>ColumnAlign</key>
	<integer>1</integer>
	<key>ColumnSpacing</key>
	<real>36</real>
	<key>CreationDate</key>
	<string>2007-04-09 18:04:49 +0200</string>
	<key>Creator</key>
	<string>Stefan Eilemann</string>
	<key>DisplayScale</key>
	<string>1 cm = 1 cm</string>
	<key>GraphDocumentVersion</key>
	<integer>5</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>Bounds</key>
			<string>{{28.3465, 276.378}, {56.6929, 42.5197}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>842</integer>
			<key>ImageID</key>
			<integer>25</integer>
			<key>Scale</key>
			<real>0.15000000596046448</real>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Beneath</key>
					<string>YES</string>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Width</key>
					<real>0.5</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{28.3465, 226.772}, {56.6929, 42.5197}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>827</integer>
			<key>ImageID</key>
			<integer>24</integer>
			<key>Scale</key>
			<real>0.15000000596046448</real>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Beneath</key>
					<string>YES</string>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Width</key>
					<real>0.5</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{28.3465, 177.165}, {56.6929, 42.5196}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>833</integer>
			<key>ImageID</key>
			<integer>23</integer>
			<key>Scale</key>
			<real>0.15000000596046448</real>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Beneath</key>
					<string>YES</string>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Width</key>
					<real>0.5</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>1732</integer>
			</dict>
			<key>ID</key>
			<integer>856</integer>
			<key>Points</key>
			<array>
				<string>{169.843, 208.43}</string>
				<string>{155.905, 222.648}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Beneath</key>
					<string>YES</string>
					<key>Draws</key>
					<string>YES</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>LineType</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>853</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>1730</integer>
				<key>Info</key>
				<integer>3</integer>
			</dict>
			<key>ID</key>
			<integer>855</integer>
			<key>Points</key>
			<array>
				<string>{169.832, 243.743}</string>
				<string>{155.335, 237.402}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Beneath</key>
					<string>YES</string>
					<key>Draws</key>
					<string>YES</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>LineType</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>852</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>1728</integer>
				<key>Info</key>
				<integer>3</integer>
			</dict>
			<key>ID</key>
			<integer>854</integer>
			<key>Points</key>
			<array>
				<string>{169.869, 279.076}</string>
				<string>{155.335, 251.575}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Beneath</key>
					<string>YES</string>
					<key>Draws</key>
					<string>YES</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>LineType</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>851</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{99.2126, 255.118}, {56.6927, 7.08646}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>1727</integer>
					<key>ImageID</key>
					<integer>2</integer>
					<key>Magnets</key>
					<array>
						<string>{0.00144148, 0.465065}</string>
						<string>{0.00479555, -0.430131}</string>
						<string>{0.489939, 0}</string>
						<string>{-0.489939, 0}</string>
					</array>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Beneath</key>
							<string>YES</string>
							<key>Color</key>
							<dict>
								<key>a</key>
								<string>0.5</string>
								<key>b</key>
								<string>0</string>
								<key>g</key>
								<string>0</string>
								<key>r</key>
								<string>0</string>
							</dict>
							<key>Fuzziness</key>
							<real>4</real>
							<key>ShadowVector</key>
							<string>{0, 2}</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Cap</key>
							<integer>0</integer>
							<key>Draws</key>
							<string>NO</string>
							<key>Join</key>
							<integer>0</integer>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{99.2126, 248.032}, {56.6927, 7.08646}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>1728</integer>
					<key>ImageID</key>
					<integer>2</integer>
					<key>Magnets</key>
					<array>
						<string>{0.00144148, 0.465065}</string>
						<string>{0.00479555, -0.430131}</string>
						<string>{0.489939, 0}</string>
						<string>{-0.489939, 0}</string>
					</array>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Beneath</key>
							<string>YES</string>
							<key>Color</key>
							<dict>
								<key>a</key>
								<string>0.5</string>
								<key>b</key>
								<string>0</string>
								<key>g</key>
								<string>0</string>
								<key>r</key>
								<string>0</string>
							</dict>
							<key>Fuzziness</key>
							<real>4</real>
							<key>ShadowVector</key>
							<string>{0, 2}</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Cap</key>
							<integer>0</integer>
							<key>Draws</key>
							<string>NO</string>
							<key>Join</key>
							<integer>0</integer>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{99.2126, 240.946}, {56.6927, 7.08646}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>1729</integer>
					<key>ImageID</key>
					<integer>2</integer>
					<key>Magnets</key>
					<array>
						<string>{0.00144148, 0.465065}</string>
						<string>{0.00479555, -0.430131}</string>
						<string>{0.489939, 0}</string>
						<string>{-0.489939, 0}</string>
					</array>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Beneath</key>
							<string>YES</string>
							<key>Color</key>
							<dict>
								<key>a</key>
								<string>0.5</string>
								<key>b</key>
								<string>0</string>
								<key>g</key>
								<string>0</string>
								<key>r</key>
								<string>0</string>
							</dict>
							<key>Fuzziness</key>
							<real>4</real>
							<key>ShadowVector</key>
							<string>{0, 2}</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Cap</key>
							<integer>0</integer>
							<key>Draws</key>
							<string>NO</string>
							<key>Join</key>
							<integer>0</integer>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{99.2126, 233.859}, {56.6927, 7.08646}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>1730</integer>
					<key>ImageID</key>
					<integer>2</integer>
					<key>Magnets</key>
					<array>
						<string>{0.00144148, 0.465065}</string>
						<string>{0.00479555, -0.430131}</string>
						<string>{0.489939, 0}</string>
						<string>{-0.489939, 0}</string>
					</array>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Beneath</key>
							<string>YES</string>
							<key>Color</key>
							<dict>
								<key>a</key>
								<string>0.5</string>
								<key>b</key>
								<string>0</string>
								<key>g</key>
								<string>0</string>
								<key>r</key>
								<string>0</string>
							</dict>
							<key>Fuzziness</key>
							<real>4</real>
							<key>ShadowVector</key>
							<string>{0, 2}</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Cap</key>
							<integer>0</integer>
							<key>Draws</key>
							<string>NO</string>
							<key>Join</key>
							<integer>0</integer>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{99.2126, 226.772}, {56.6927, 7.08646}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>1731</integer>
					<key>ImageID</key>
					<integer>2</integer>
					<key>Magnets</key>
					<array>
						<string>{0.00144148, 0.465065}</string>
						<string>{0.00479555, -0.430131}</string>
						<string>{0.489939, 0}</string>
						<string>{-0.489939, 0}</string>
					</array>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Beneath</key>
							<string>YES</string>
							<key>Color</key>
							<dict>
								<key>a</key>
								<string>0.5</string>
								<key>b</key>
								<string>0</string>
								<key>g</key>
								<string>0</string>
								<key>r</key>
								<string>0</string>
							</dict>
							<key>Fuzziness</key>
							<real>4</real>
							<key>ShadowVector</key>
							<string>{0, 2}</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Cap</key>
							<integer>0</integer>
							<key>Draws</key>
							<string>NO</string>
							<key>Join</key>
							<integer>0</integer>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{99.2126, 219.687}, {56.6927, 7.08646}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>1732</integer>
					<key>ImageID</key>
					<integer>2</integer>
					<key>Magnets</key>
					<array>
						<string>{0.00144148, 0.465065}</string>
						<string>{0.00479555, -0.430131}</string>
						<string>{0.489939, 0}</string>
						<string>{-0.489939, 0}</string>
					</array>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Beneath</key>
							<string>YES</string>
							<key>Color</key>
							<dict>
								<key>a</key>
								<string>0.5</string>
								<key>b</key>
								<string>0</string>
								<key>g</key>
								<string>0</string>
								<key>r</key>
								<string>0</string>
							</dict>
							<key>Fuzziness</key>
							<real>4</real>
							<key>ShadowVector</key>
							<string>{0, 2}</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Cap</key>
							<integer>0</integer>
							<key>Draws</key>
							<string>NO</string>
							<key>Join</key>
							<integer>0</integer>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{99.2126, 212.6}, {56.6927, 7.08646}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>1733</integer>
					<key>ImageID</key>
					<integer>2</integer>
					<key>Magnets</key>
					<array>
						<string>{0.00144148, 0.465065}</string>
						<string>{0.00479555, -0.430131}</string>
						<string>{0.489939, 0}</string>
						<string>{-0.489939, 0}</string>
					</array>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Beneath</key>
							<string>YES</string>
							<key>Color</key>
							<dict>
								<key>a</key>
								<string>0.5</string>
								<key>b</key>
								<string>0</string>
								<key>g</key>
								<string>0</string>
								<key>r</key>
								<string>0</string>
							</dict>
							<key>Fuzziness</key>
							<real>4</real>
							<key>ShadowVector</key>
							<string>{0, 2}</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Cap</key>
							<integer>0</integer>
							<key>Draws</key>
							<string>NO</string>
							<key>Join</key>
							<integer>0</integer>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{99.2126, 205.513}, {56.6927, 7.08646}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>1734</integer>
					<key>ImageID</key>
					<integer>2</integer>
					<key>Magnets</key>
					<array>
						<string>{0.00144148, 0.465065}</string>
						<string>{0.00479555, -0.430131}</string>
						<string>{0.489939, 0}</string>
						<string>{-0.489939, 0}</string>
					</array>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Beneath</key>
							<string>YES</string>
							<key>Color</key>
							<dict>
								<key>a</key>
								<string>0.5</string>
								<key>b</key>
								<string>0</string>
								<key>g</key>
								<string>0</string>
								<key>r</key>
								<string>0</string>
							</dict>
							<key>Fuzziness</key>
							<real>4</real>
							<key>ShadowVector</key>
							<string>{0, 2}</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Cap</key>
							<integer>0</integer>
							<key>Draws</key>
							<string>NO</string>
							<key>Join</key>
							<integer>0</integer>
						</dict>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>1726</integer>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{28.3465, 28.3465}, {198.425, 155.906}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>820</integer>
			<key>ImageID</key>
			<integer>1</integer>
			<key>Magnets</key>
			<array>
				<string>{0, 1}</string>
				<string>{0, -1}</string>
			</array>
			<key>Scale</key>
			<real>0.23000000417232513</real>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{99.2126, 276.378}, {56.6929, 42.5197}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>828</integer>
			<key>ImageID</key>
			<integer>26</integer>
			<key>Scale</key>
			<real>0.15000000596046448</real>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Beneath</key>
					<string>YES</string>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Width</key>
					<real>0.5</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>820</integer>
				<key>Info</key>
				<integer>1</integer>
			</dict>
			<key>ID</key>
			<integer>831</integer>
			<key>OrthogonalBarAutomatic</key>
			<true/>
			<key>OrthogonalBarPosition</key>
			<real>-1</real>
			<key>Points</key>
			<array>
				<string>{127.831, 206.009}</string>
				<string>{127.559, 184.252}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Beneath</key>
					<string>YES</string>
					<key>Draws</key>
					<string>YES</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>LineType</key>
					<integer>2</integer>
					<key>TailArrow</key>
					<string>0</string>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>1734</integer>
				<key>Info</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>1731</integer>
				<key>Info</key>
				<integer>4</integer>
			</dict>
			<key>ID</key>
			<integer>834</integer>
			<key>Points</key>
			<array>
				<string>{85.2819, 240.884}</string>
				<string>{99.783, 230.315}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Beneath</key>
					<string>YES</string>
					<key>Draws</key>
					<string>YES</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>LineType</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>827</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>1729</integer>
				<key>Info</key>
				<integer>4</integer>
			</dict>
			<key>ID</key>
			<integer>835</integer>
			<key>Points</key>
			<array>
				<string>{85.24, 276.228}</string>
				<string>{99.783, 244.489}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Beneath</key>
					<string>YES</string>
					<key>Draws</key>
					<string>YES</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>LineType</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>842</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>833</integer>
			</dict>
			<key>ID</key>
			<integer>836</integer>
			<key>Points</key>
			<array>
				<string>{99.783, 216.143}</string>
				<string>{85.2706, 210.176}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Beneath</key>
					<string>YES</string>
					<key>Draws</key>
					<string>YES</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>LineType</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>1733</integer>
				<key>Info</key>
				<integer>4</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>1727</integer>
			</dict>
			<key>ID</key>
			<integer>847</integer>
			<key>Points</key>
			<array>
				<string>{127.559, 276.128}</string>
				<string>{127.639, 262.205}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Beneath</key>
					<string>YES</string>
					<key>Draws</key>
					<string>YES</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>LineType</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>828</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{170.079, 276.378}, {56.6929, 42.5197}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>851</integer>
			<key>ImageID</key>
			<integer>27</integer>
			<key>Scale</key>
			<real>0.15000000596046448</real>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Beneath</key>
					<string>YES</string>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Width</key>
					<real>0.5</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{170.079, 226.772}, {56.6929, 42.5197}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>852</integer>
			<key>ImageID</key>
			<integer>28</integer>
			<key>Scale</key>
			<real>0.15000000596046448</real>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Beneath</key>
					<string>YES</string>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Width</key>
					<real>0.5</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{170.079, 177.165}, {56.6929, 42.5197}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>853</integer>
			<key>ImageID</key>
			<integer>29</integer>
			<key>Scale</key>
			<real>0.15000000596046448</real>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Beneath</key>
					<string>YES</string>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Width</key>
					<real>0.5</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>AllowConnections</key>
			<string>NO</string>
			<key>Bounds</key>
			<string>{{21.2598, 170.079}, {212.598, 155.905}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>850</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.5</string>
						<key>g</key>
						<string>0.5</string>
						<key>r</key>
						<string>0.5</string>
					</dict>
					<key>GradientAngle</key>
					<real>90</real>
					<key>GradientCenter</key>
					<string>{0, -0.495238}</string>
					<key>GradientColor</key>
					<dict>
						<key>b</key>
						<string>0.747814</string>
						<key>g</key>
						<string>0.608148</string>
						<key>r</key>
						<string>0.378088</string>
					</dict>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>1</string>
						<key>g</key>
						<string>1</string>
						<key>r</key>
						<string>1</string>
					</dict>
					<key>CornerRadius</key>
					<real>4</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{35.4331, 35.4331}, {184.252, 120.472}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>857</integer>
			<key>ImageID</key>
			<integer>22</integer>
			<key>Magnets</key>
			<array>
				<string>{0, 1}</string>
				<string>{0, -1}</string>
				<string>{1, 0}</string>
				<string>{-1, 0}</string>
			</array>
			<key>Scale</key>
			<real>0.56999999284744263</real>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{7.08662, 14.1735}, {240.945, 325.984}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>1725</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.641794</string>
						<key>g</key>
						<string>0.498985</string>
						<key>r</key>
						<string>0.366537</string>
					</dict>
					<key>GradientColor</key>
					<dict>
						<key>w</key>
						<string>0.666667</string>
					</dict>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>1</string>
						<key>g</key>
						<string>1</string>
						<key>r</key>
						<string>1</string>
					</dict>
					<key>CornerRadius</key>
					<real>8</real>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict>
		<key>GridSpacing</key>
		<real>7.0866141319274902</real>
		<key>MajorGridSpacing</key>
		<integer>20</integer>
		<key>ShowsGrid</key>
		<string>YES</string>
		<key>SnapsToGrid</key>
		<string>YES</string>
	</dict>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>HPages</key>
	<integer>1</integer>
	<key>ImageCounter</key>
	<integer>30</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
	</array>
	<key>ImageList</key>
	<array>
		<string>image29.png</string>
		<string>image28.png</string>
		<string>image27.png</string>
		<string>image26.png</string>
		<string>image25.png</string>
		<string>image24.png</string>
		<string>image23.png</string>
		<string>image22.png</string>
		<string>image2.pdf</string>
		<string>image1.png</string>
	</array>
	<key>IsPalette</key>
	<string>NO</string>
	<key>KeepToScale</key>
	<false/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Layer 1</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict/>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheet</key>
	<string>Master 1</string>
	<key>MasterSheets</key>
	<array>
		<dict>
			<key>ActiveLayerIndex</key>
			<integer>0</integer>
			<key>AutoAdjust</key>
			<true/>
			<key>CanvasColor</key>
			<dict>
				<key>w</key>
				<string>1</string>
			</dict>
			<key>CanvasOrigin</key>
			<string>{0, 0}</string>
			<key>CanvasScale</key>
			<real>1</real>
			<key>ColumnAlign</key>
			<integer>1</integer>
			<key>ColumnSpacing</key>
			<real>36</real>
			<key>DisplayScale</key>
			<string>1 cm = 1 cm</string>
			<key>GraphicsList</key>
			<array/>
			<key>GridInfo</key>
			<dict>
				<key>GridSpacing</key>
				<real>14.17322826385498</real>
				<key>MajorGridSpacing</key>
				<integer>10</integer>
				<key>ShowsGrid</key>
				<string>YES</string>
				<key>SnapsToGrid</key>
				<string>YES</string>
			</dict>
			<key>HPages</key>
			<integer>1</integer>
			<key>IsPalette</key>
			<string>NO</string>
			<key>KeepToScale</key>
			<false/>
			<key>Layers</key>
			<array>
				<dict>
					<key>Lock</key>
					<string>NO</string>
					<key>Name</key>
					<string>Layer 1</string>
					<key>Print</key>
					<string>YES</string>
					<key>View</key>
					<string>YES</string>
				</dict>
			</array>
			<key>LayoutInfo</key>
			<dict/>
			<key>Orientation</key>
			<integer>2</integer>
			<key>OutlineStyle</key>
			<string>Basic</string>
			<key>RowAlign</key>
			<integer>1</integer>
			<key>RowSpacing</key>
			<real>36</real>
			<key>SheetTitle</key>
			<string>Master 1</string>
			<key>UniqueID</key>
			<integer>1</integer>
			<key>VPages</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>ModificationDate</key>
	<string>2008-03-22 14:59:46 +0100</string>
	<key>Modifier</key>
	<string>Stefan Eilemann</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>2</integer>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>OutlineStyle</key>
	<string>Basic</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFklwCG</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFklwCG</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>size</string>
			<string>{595, 842}</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFklwCG</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFklwCG</string>
		</array>
	</dict>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>1</integer>
	<key>RowSpacing</key>
	<real>36</real>
	<key>SheetTitle</key>
	<string>Canvas 1</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>NO</string>
	<key>SmartDistanceGuidesActive</key>
	<string>NO</string>
	<key>UniqueID</key>
	<integer>1</integer>
	<key>UseEntirePage</key>
	<true/>
	<key>VPages</key>
	<integer>1</integer>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>DrawerTab</key>
		<string>Outline</string>
		<key>DrawerWidth</key>
		<real>209</real>
		<key>Frame</key>
		<string>{{386, 0}, {595, 878}}</string>
		<key>VisibleRegion</key>
		<string>{{0, 0}, {278.231, 374.173}}</string>
		<key>Zoom</key>
		<real>1.0147758722305298</real>
	</dict>
</dict>
</plist>
